<app-header [textHeader]="textHeader" [flagArrow]="flagArrow"></app-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <form [formGroup]="gameForm" (ngSubmit)="onSubmit()" novalidate>
        <ion-row></ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="floating">Game</ion-label>
              <ion-input type="text" formControlName="gameName" #gameName required maxlength="50"></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.gameName.errors?.required">
              Game name is required
            </span>
          </ion-col>
        </ion-row>

        <ion-row class="center">
          <ion-col size="12">
            <img [src]="url" width="200" height="200" *ngIf="!photo && url" />
            <img src="../../assets/img/user.png" width="200" height="200" *ngIf="!photo && !url" />
            <img [src]="photo" #image width="200" height="200" *ngIf="photo" />
          </ion-col>
          <span class="error ion-padding" *ngIf="isSubmitted && !photo && !url">
            Image is required
          </span>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="center">
            <ion-button color="secondary" (click)="takePicture()">
              Subir imagen
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="floating">Description:</ion-label>
              <ion-input type="text" formControlName="description" required maxlength="200"></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required">
              Description is required
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="floating">Solution</ion-label>
              <ion-input type="number" formControlName="solution" #solution required></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.solution.errors?.required">
              Solution is required
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="floating">Points</ion-label>
              <ion-input type="number" formControlName="points" #points required></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.points.errors?.required">
              Points are required
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3" *ngIf="gid">
            <ion-button expand="block" color="danger" (click)="deleteGame()">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-button type="submit" expand="block" color="success">
              {{textButton}}
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>
