<app-header [textHeader]="textHeader" [flagArrow]="flagArrow"></app-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <form>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="floating">Game</ion-label>
              <ion-input type="text" #gameName required maxlength="50"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="floating">Image</ion-label>
              <ion-input type="" #password required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="floating">Description:</ion-label>
              <ion-input type="text" #description required maxlength="200"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="floating">Solution</ion-label>
              <ion-input type="number" #solution required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label position="floating">Points</ion-label>
              <ion-input type="" #password required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" (click)="" expand="block">Login</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>
