<ion-menu side="start" menuId="menu" contentId="main">
  <ion-header>
    <ion-toolbar color="primary" *ngIf="user">
      <img class="profile-picture" src="../../../assets/img/monkey.png" />
      <h3 class="name">{{user.email}}</h3>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let option of menuOptions | async">
        <ion-item [routerLink]="option.router">
          <ion-icon slot="start" color="tertiary" [name]="option.icon"></ion-icon>
          <ion-label>{{option.name}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="logout()">
          <ion-icon slot="start" color="danger" name="log-out-outline"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
